@import "~bootstrap/dist/css/bootstrap.min.css";
.card{
    width: 250px;
    height:400px; 
    border-radius: 15px;
}

.direction{
    transform:rotate(180deg);
}
.size{
    font-size: 50px;
}
.font-size{
    font-size: 100px;
}